*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}

body {
    margin: 0;
    /* overflow: hidden; */
    background: black;
}
canvas {
    /* display: block; */
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: 1;
}

h1{
    font-family: monospace;
    font-size: 50px;
    margin-bottom: 20px;
}

#textbox{
    width: 90%;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    margin: 20px;
    text-align: center;
}

#search-btn{
    padding: 10px 20px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#search-btn:hover{
    background-color: #fff;
    color: #000;
}

#search-btn:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}

#textbox:focus::placeholder {
    color: transparent; /* Hide the placeholder text */
}

#data{
    width: 90%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    margin: 20px;
    text-align: center;
}

.loader {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
    z-index: -10;
  }
  
  .content {
    padding: 20px;
  }

.hidden {
    display: none;
    
}

#spinner{
    width: 50px;
    height: 50px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}