<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/icons/brain-logo-icon.jpg" type="image/x-icon">
    <title>Research Scientist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>
    <div class="loader">🔄 Release to refresh</div>
    <canvas id="canvas"></canvas>
    <div class="container">
        <form onsubmit="research(); return false" class="search-form">
            <h1>DeepScientist</h1>
            <p>A DeepSeek powered reasoning assistant</p>
            <textarea  name="query" id="textbox" placeholder="Enter a topic to research" autofocus = "true" required></textarea>
            <div class="search">
                <input type="submit" value="Think" id="search-btn">
                <img src="../static/icons/infinite-spinner.svg" alt="" id="spinner" class="hidden">
            </div>
            <div id="data"></div>
            <div id="timer"></div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/pullrefresh.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>

</body>
</html>